* {
  box-sizing: border-box;
}
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --buttonHeight: 40px;
}
.container {
  width: 1000px;
  height: 500px;
  background-color: rgb(59, 59, 59);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  zoom: 1.55;
  margin: 0 auto;
  margin-top: -20px;
  cursor: pointer;
}
.cell {
  width: 5px;
  height: 5px;
  border: 0.1px solid rgb(178, 178, 178);
  cursor: pointer;
}
.no-pointer {
  cursor: default;
}
.cell.selected {
  transition: background-color 0.1s ease-in-out;
  background-color: rgb(222, 255, 56);
}

.startButton {
  width: 60px;
  height: var(--buttonHeight);
  background-color: rgb(45, 255, 171);
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: bold;
  border: 0.5px solid rgb(29, 161, 108);
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}
.startButton:hover {
  background-color: rgb(38, 223, 149);
}

.startButton.stopButton {
  background-color: rgb(161, 27, 27);
}

.infoContainer {
  position: absolute;
  top: calc(20px + var(--buttonHeight));
  right: 5px;
  width: calc(20px + var(--buttonHeight));
  height: 200px;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
.infoContainer span {
  font-size: 13px;
}
