* {
  box-sizing: border-box;
}

html[data-theme="light"] {
  --background-color: rgb(219, 219, 219);
  --blue: #1e90ff;
  --white: #ffffff;
  --buttonHeight: 40px;
  --buttonWidth: 60px;
  --containerHeight: 200px;
  --bufferHeight: 20px;
  --green: #28a745;
  --yellow: rgb(218, 200, 79);
  --orange: #ffc107;
}
body {
  background-color: var(--background-color);
}
.container {
  width: 1000px;
  height: 500px;
  background-color: rgb(59, 59, 59);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  zoom: 1.55;
  margin: -20px auto 0;
  cursor: pointer;
}

.cell {
  width: 5px;
  height: 5px;
  border: 0.1px solid rgb(178, 178, 178);
  cursor: pointer;
}

.no-pointer {
  cursor: default;
}

.cell.selected {
  transition: background-color 0.1s ease-in-out;
  background-color: rgb(222, 255, 56);
}

.sideBarButton {
  height: var(--buttonHeight);
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 10px 2.5%;
  cursor: pointer;
  width: 95%;
}
.sideBarButton:hover {
  filter: brightness(0.9);
}
.startButton {
  background-color: var(--green);
  box-shadow: 0px 0px 2px var(--green);
}

.startButton.stopButton {
  background-color: rgb(161, 27, 27);
}
.continueButton {
  background-color: var(--yellow);
  box-shadow: 0px 0px 2px var(--yellow);
}

.continueButton.show {
  display: block;
}

.exportButton {
  background-color: var(--blue);
  box-shadow: 0px 0px 2px var(--blue);
}

.importButton {
  background-color: var(--orange);
  box-shadow: 0px 0px 2px var(--orange);
}

.infoContainer {
  top: calc(var(--bufferHeight) + var(--buttonHeight));
  width: calc(var(--bufferHeight) + var(--buttonHeight));
  height: var(--containerHeight);
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
  height: 50px;
}

.infoContainer div {
  font-size: 18px;
  width: 70%;
}
.infoContainer div:nth-child(2n) {
  color: red;
  width: 25%;
  align-self: flex-end;
}

.importExportContainer {
  position: absolute;
  width: 220px;
  bottom: 0;
}
.importExportContainer button {
  margin-bottom: 5px;
  margin-top: 0px;
}
.ppButtonContainer {
  position: absolute;
  border-color: var(--ppBackgroundColor);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: 7.4px;
  cursor: pointer;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ppColor);
  outline: 1.2px solid var(--ppBackgroundColor);
}

.play {
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid;
  border-left-color: inherit;
  margin-left: 5px;
}
.pause {
  width: 12px;
  height: 20px;
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 5px solid;
  border-right: 5px solid;
  border-left-color: inherit;
  border-right-color: inherit;
}

.ppButtonContainer:hover {
  background-color: var(--ppBackgroundColor);
  border-color: var(--ppColor);
  outline: none;
}
